.home-section {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-section .home-section-content {
    line-height: 0.6rem;
    display: list-item;
    list-style-type: none;
    box-sizing: border-box;
    color: var(--font-color);
    width: 50%;
    margin: auto 4rem;
}

.home-section .home-section-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.5rem;
}

.home-section .home-section-image img {
    width: 30rem;
}

.home-section .home-section-content h1 {
    font-size: 4rem;
    font-weight: 700;
    display: flex;
    gap: 1rem;
}

.home-section .home-section-content h1 div {
    color: var(--primary-color);
    display: flex;
}

#element,
.home-section .home-section-content span {
    font-size: 2.5rem;
}

.home-section .home-section-content p {
    font-size: 2.5rem;
    font-weight: 500;
}

@media screen and (max-width: 1100px) {
    .home-section {
        flex-direction: column-reverse;
    }

    .home-section .home-section-content {
        width: 100%;
        padding: 20px 230px;
    }

    .home-section .home-section-image {
        width: 100%;
        padding: 50px 0px;
    }

    .home-section .home-section-image img {
        width: 50rem;
    }
    
    /* body {
        font-size: 55%;
    };*/
} 

@media screen and (max-width: 800px) {
    .home-section .home-section-content {
        padding: 0 10%;
    }

    .home-section .home-section-content h1 {
        font-size: 7em;
    }

    #element,
    .home-section .home-section-content span {
        font-size: 1.5rem;
    }

    .home-section .home-section-content p {
        font-size: 1.5rem;
    }
    .home-section .home-section-image img {
        width: 300px;
    }

    /* body {
        font-size: 45%;
    }; */
}


@media screen and (max-width: 450px) {
    .home-section .home-section-content {
        padding: 0 20%;
        padding-bottom: 15rem;
    }

    .home-section .home-section-content h1 {
        font-size: 1.5rem;
    }

    .home-section .home-section-content h1,
    .home-section .home-section-content div {
        gap: 0.35rem;
    }

    #element,
    .home-section .home-section-content span {
        font-size: 1.2rem;
    }

    .home-section .home-section-content p {
        font-size: 1.2rem;
    }
    .home-section .home-section-image img {
        width: 300px;
    }
}
