/* Common CSS */
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

/* :root {

} */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Questrial", sans-serif;
    background-color: var(--secondary-color);
}