/* Common CSS */
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root {
    --primary-color: #233b3b;
    --secondary-color: #ead5c5;
    --font-color: #e14b26;
    --background-color: #edb1a3;
}

body {
    margin: 0;
    padding-top: 8vh;
    box-sizing: border-box;
    font-family: "Questrial", sans-serif;
    background-color: var(--secondary-color);
    overflow-x: hidden;
    font-size: 62.5%;
}


::-webkit-scrollbar {
    width: 0.8rem; 
}

::-webkit-scrollbar-track {
    background: var(--background-color); 
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color); 
    border-radius: 0.5rem; 
}

::-webkit-scrollbar-thumb:hover {
    background: var(--font-color);
}
